.start-ui-text-menu {
  height: 32px;
  box-sizing: border-box;
  background: white;
  overflow: hidden;
  font-size: 14px;
  border-radius: 3px;
  box-shadow:
    rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px,
    rgb(15 15 15 / 20%) 0px 9px 24px;
  display: flex;

  .item {
    height: 100%;
    padding: 0 8px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(55, 53, 47, 0.08);
    }

    .icon {
      width: 15px;
      height: 15px;
    }

    .active-icon {
      color: rgb(46, 170, 220);
    }

    .icon-down {
      width: 25px;
      height: 25px;
      color: rgba(55, 53, 47, 0.3)
    }

  }
}

.start-ui-link-content {
  margin: 6px 8px;
  padding: 13px 10px 0 10px;
  width: 300px;
  height: 63px;
  box-sizing: border-box;

  input {
    outline: none;
    display: block;
    width: 280px;
    box-sizing: border-box;
    padding: 3px 6px;
    border-radius: 3px;
    background: rgba(242, 241, 238, 0.6);
    cursor: text;
    height: 30px;
    border: 1px solid #e8eaec;

    &:focus {
      border: 1.5px solid rgba(45, 170, 219);
    }
  }

  span {
    display: none;
    margin-top: 5px;
    font-size: 12px;
    color: #ff4d4f;
  }
}

.start-ui-link-content-error {
  input {
    border-color: #ff4d4f !important;
  }

  span {


    display: block;
  }
}
